.containerProduct {
  flex: 1;
  margin: 5px;
  min-width: 400px;
  height: 350px;
  background: lightgray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
      position: relative;
      display: flex;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
    }

    img {
      position: absolute;
      height: 250px;
      z-index: 2;
    }
  }

  .infos {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      transition: all 0.5s ease;

      &:hover {
        background-color: #e9f5f5;
        transform: scale(1.1);
      }
    }
  }
}
