.wrapper {
  padding: 50px;
  display: flex;

  .imgContainer {
    flex: 1;

    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
  }

  .infoContainer {
    flex: 1;
    padding: 0px 50px;

    .title {
      font-weight: 200;
    }

    .desc {
      margin: 20px 0px;
    }

    .price {
      font-weight: 100;
      font-size: 40px;
    }

    .filterContainer {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: 30px 0px;

      .filter {
        display: flex;
        align-items: center;

        .filterTitle {
          font-size: 20px;
          font-weight: 200;
        }

        .colors {
          &:nth-child(1) {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(0, 57, 122, 0.562);
            margin: 0 5px;
          }
          &:nth-child(2) {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(185, 13, 13, 0.562);
            margin: 0 5px;
          }
          &:nth-child(3) {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(224, 7, 195, 0.562);
            margin: 0 5px;
          }
        }

        .filterSize {
          .filterSizeOption {
          }
        }
      }
    }
  }
}
